@media print {
    
body {
    overflow: visible !important;
}
#impress,
#impress > div {
    position: static !important;
    transform: none !important;
    transform-style: flat !important;
}
.step {
    position: static !important;
    page-break-after: always;
    transform: none !important;
    transform-style: flat !important;
    width: 100% !important;
}
#hovercraft-help {
    display: none;
}
#footer {
    border-top: 3px solid #474747;
}
#footer .screen {
    display: none;
}
#footer .print {
    display: inline;
    float: right;
}

}