body {
    font-family: Verdana, Arial, serif;
    margin: 0;
}
#footer {
    position: fixed;
    bottom: 0;
    background-color: #494949;
    color: #ffffff;
    width: 100%;
    padding: 5px;
}
.step {
    font-size: 36px;
    color: #333333;
}
h1 {
    color: #296177;
}
h2 {
    color: #64BBDB;
}
pre {
    padding: 20px;
    color: #ffffff;
}
tt {
    padding: 10px;
    background-color: #002B36;
    color: #93A1A1;
}
ul li {
    padding-left: 5px;
}