body {
    font-family: Verdana, Arial, serif;
    margin: 0;
}
#footer {
    position: fixed;
    bottom: 0;
    background: #494949;
    color: #ffffff;
    width: 96%;
    padding: 5px 2%;
}
#footer img {
    float: right;
}
#footer p {
    margin: 8px 0 0 0;
}
.step {
    font-size: 28px;
    color: #333333;
    width: 900px;
}
h1 {
    color: #296177;
}
h2 {
    color: #64BBDB;
}
pre {
    padding: 20px;
    color: #ffffff;
}
tt {
    padding: 10px;
    background-color: #002B36;
    color: #93A1A1;
}
ul li {
    padding-left: 5px;
}